<!DOCTYPE html>
<html ng-app="textPlugin">
<head lang="en">
    <meta charset="UTF-8">
    <title>example Text widget</title>

    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../../scripts/buildfire.js"></script>
    <script type="text/javascript" src="../../../scripts/owlCarousel/owlCarousel.js"></script>

    <link href="../../../scripts/owlCarousel/owlCarousel.css" rel="stylesheet" />
    <style>
        .widget-content {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div ng-controller="textPluginCtrl" ng-cloak style="background-image: url({{ resizeImage(data.design.backgroundImage, null, deviceHeight) }}); height: 100%;">
        <div id="owl-demo" class="owl-carousel owl-theme" ng-show="data.content.carouselImages.length">
            <div class="item" ng-repeat="item in data.content.carouselImages" data-index="{{ $index }}" ng-click="optionAction($index)">
                <img src="{{ resizeImage(item.iconUrl, null, sliderHeight) }}" alt="{{ item.title }} ">
            </div>
        </div>
        <div ng-bind-html="data.content.text" class="widget-content"></div>
    </div>
    <script>

        var textPluginApp = angular.module('textPlugin', []);

        textPluginApp.controller('textPluginCtrl', ['$scope', '$sce', function ($scope, $sce) {
            /*
            * Get the required details about the device
            * */
            $scope.deviceWidth = window.innerWidth;
            $scope.deviceHeight = window.innerHeight;
            $scope.sliderHeight = Math.floor($scope.deviceHeight * 0.35);

            /*
            * Check if we need to destroy and re-create the slider again
            * */
            var updateSlider = false;

            $scope.optionAction = function (index) {
                buildfire.actionItems.execute($scope.data.content.carouselImages[index], function (err, result) {
                    if (err)
                        console.warn('Error openning slider action: ', err);
                });
            };

            /*
            * bind data to the scope
            * */
            function bind(data) {
                var slider = $("#owl-demo");
                $scope.data = data;

                if (data && data.content && data.content.text) {
                    $scope.data.content.text = $sce.trustAsHtml(data.content.text);
                }

                $scope.$digest();

                if (updateSlider && slider.length) {
                    var sliderData = slider.data('owlCarousel');
                    if (sliderData) {
                        sliderData.destroy();
                    }
                }

                if (slider.length) {
                    $("#owl-demo").owlCarousel({
                        navigation: false,
                        dots: false,
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        singleItem: true,
                        pagination: false,
                        items: 1,
                        itemsMobile: true

                    });
                }
            }

            /*
             * Go pull saved data
             * */
            function loadData() {
                buildfire.datastore.get(function (err, result) {
                    if (result) bind(result.data);
                });
            }

            loadData();

            /**
             * when a refresh is triggered get reload data
             */
            buildfire.datastore.onRefresh(loadData);

            buildfire.datastore.onUpdate(function (e) {
                updateSlider = true;
                loadData();
            });

            /*
            * A helper to resie the background and slider images
            * */
            $scope.resizeImage = function (url, width, height) {
                var options = {};
                if (!url) {
                    return "";
                }
                else {
                    if (width) {
                        options.width = width;
                    }

                    if (height) {
                        options.height = height;
                    }
                    return buildfire.imageLib.resizeImage(url, options);
                }
            };
        }]);
    </script>
</body>
</html>