<!DOCTYPE html>
<html ng-app="textPlugin">
<head lang="en">
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link href="../../../../styles/siteIcons.css" rel="stylesheet">
    <link href="./css/ng-sortable.min.css" rel="stylesheet">
    <link href="./css/ng-sortable.style.min.css" rel="stylesheet">
    <!-- JS -->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../../scripts/tinymce/tinymce.min.js"></script>
    <script src="../../../../scripts/tinymce/ui-tinymce.js"></script>
    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>
    <script src="./js/ng-sortable.js"></script>
    <meta charset="UTF-8">
</head>
<body ng-controller="textPluginCtrl" ng-cloak>
    <div class="item clearfix row margin-bottom-fifteen">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Image Carousel</span>
        </div>
        <div class="col-md-9 pull-left">
            <button type="button" class="btn btn-primary" ng-click="addCarouselImage()">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                Add Image
            </button>
        </div>
    </div>

    <div class="item clearfix row margin-bottom-fifteen" ng-show="carouselImages.length > 0">
        <div class="col-md-9 pull-right">
            <div as-sortable="sortableOptions" ng-model="carouselImages">
                <div ng-repeat="slide in carouselImages" as-sortable-item class="d-item as-sortable-item">
                    <div as-sortable-item-handle class="as-sortable-item-handle" style="height:50px">
                        <span class="icon icon-menu"></span>
                        <img src="{{ resizeImage(slide.data.iconUrl) }}" class="border-radius-four border-grey">
                        <div class="copy pull-right">
                            <span class="title ellipsis">
                                {{ slide.data.title }}
                            </span>
                            <a ng-click="editSlide(slide)">
                                link
                            </a>
                            <span class="btn-icon btn-delete-icon btn-danger transition-third" onclick="window.openDialog('remove.html', null, 'sm', null)">
                                <span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item clearfix row margin-bottom-fifteen">
        <div class="main col-md-12 pull-left">
            <textarea id="text" ui-tinymce class="form-control" rows="5" width="100%" ng-model="data.content.text"></textarea>
        </div>
    </div>
    <div class="item clearfix row">
        <div class="col-md-9 pull-left">
            <button type="button" class="btn btn-success" ng-click="save()">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Save
            </button>
        </div>
    </div>
    <script>

        var textPluginApp = angular.module('textPlugin', ['ui.bootstrap', 'ui.tinymce', 'ui.sortable']);

        textPluginApp.controller('textPluginCtrl', ['$scope', function ($scope) {

            $scope.carouselImages = [];

            $scope.sortableOptions = {
                containment: '#sortable-container',
                orderChanged: function (e, ui) {
                    console.log(e, ui);
                }
            };

            /*
            * Get all the slide images stored in the application
            */
            buildfire.datastore.search({}, 'slider', function (err, result) {
                if (err) {
                    console.error('Error loading slider images: ', err);
                }
                else {
                    $scope.carouselImages = result;
                    $scope.$digest();
                    return;
                    // this code will be used to delete images
                    for (var i = 0; i < result.length; i++) {
                        console.info(result[i].id)
                        buildfire.datastore.delete(result[i].id, 'slider', function (err, status) {
                            if (err)
                                console.info('there was a problem deleteing your data');
                            else
                                console.info(' record deleted');
                        });
                    }
                }
            });

            /*
            * Edit single slider image details
            */
            $scope.editSlide = function (slide) {
                alert(JSON.stringify(slide));
            };

            /*
            * Get image thumbnail
            */
            $scope.resizeImage = function (url) {
                if (!url)
                    return "";
                else
                    return buildfire.imageLib.resizeImage(url, { width: 80, height: 40 });
            };

            /*
            * Open a dialog to add a new image to the slider
            */
            $scope.addCarouselImage = function () {
                var options = { showIcon: true };
                buildfire.actionItems.showDialog(null, options, function (err, actionItem) {
                    if (err)
                        console.log(err);
                    else {
                        console.info(actionItem);
                        if (actionItem) {
                            actionItem.order = $scope.carouselImages.length + 1;
                            buildfire.datastore.insert(actionItem, 'slider', false, function (err, result) {
                                $scope.carouselImages.push({ id: result.id, data: actionItem });
                                $scope.$apply();
                            });
                        }
                    }
                });
            };

            /*
            * Save all the details of the slide
            * Note: this will be removed
            */
            $scope.save = function () {
                console.log($scope.carouselImages);
                buildfire.datastore.bulkInsert($scope.carouselImages, 'slider', function (err, data) {
                    if (err)
                        alert('there was a problem saving your data');
                    else
                        alert(JSON.stringify(data) + ' saved successfully');
                });
            };
        }]);

    </script>
</body>
</html>