<!DOCTYPE html>
<html ng-app="textPluginDesign">
<head lang="en">
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link href="../../../../styles/siteIcons.css" rel="stylesheet">

    <!-- JS -->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <meta charset="UTF-8">
</head>
<body ng-controller="textPluginCtrl">

    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Background Image</span>
        </div>
        <div class="main col-md-9 pull-right">
            <div class="screens clearfix">
                <div class="screen text-center layouticon pull-left">
                    <a class="border-grey border-radius-three default-background-hover" ng-click="changeBackground()">
                        <span class="add-icon">+</span>
                        <img src="{{ resizeImage(backgroundImage.data.url) }}" alt="Background Image" ng-show="backgroundImage.data" />
                    </a>
                    <label class="secondary">750x1334</label>
                    <span class="icon btn-icon btn-delete-icon btn-danger transition-third" ng-click="deleteBackground()"></span>
                </div>
            </div>
        </div>
    </div>

    <script>
        var textPluginApp = angular.module('textPluginDesign', []);

        textPluginApp.controller('textPluginCtrl', ['$scope', function ($scope) {

            $scope.backgroundImage = {};

            /*
            * Load the background image if there is a one
            */
            buildfire.datastore.get('background', function (err, result) {
                if (err) {
                    console.error('Error loading the background image: ', err);
                }
                else {
                    $scope.backgroundImage = result;
                    $scope.$apply();
                }
            });

            /*
            * Open a dailog to change the background image
            */
            $scope.changeBackground = function () {
                buildfire.imageLib.showDialog({ showIcons: false, multiSelection: false }, function (error, result) {
                    if (result && result.selectedFiles && result.selectedFiles.length > 0) {
                        var selectedImage = { url: result.selectedFiles[0] };
                        buildfire.datastore.save(selectedImage, 'background', function (err, result) {
                            if (err) {
                                console.error('Error saving background image: ', err);
                            }
                            else {
                                $scope.backgroundImage = { id: result.id, data: selectedImage };
                                debugger;
                                $scope.$apply();
                            }
                        });
                    }
                });
            };

            /*
            * Get background image thumbnail
            */
            $scope.resizeImage = function (url) {
                if (!url) {
                    return "";
                }
                else {
                    return buildfire.imageLib.resizeImage(url, { width: 88 });
                }
            };

            /*
            * Delete the background and back to the default white background
            */
            $scope.deleteBackground = function () {
                $scope.backgroundImage = "";
            };
        }]);
    </script>
</body>
</html>